*~
*.log
*.class
*.xml
*auto.cgpr
*main.bexch
*.ali
*.o
*main
*b-main.adb
*b__main.adb
*b-main.ads
*b__main.ads
*gnatprove
gnatinspect.db
gnatinspect.db-shm
gnatinspect.db-wal
sparkAdaCodeLecture/misc/conversion24hrClock12hrAMPMClock/vers11FullVersionWithIO/gnatinspect.db-shm
sparkAdaCodeLecture/misc/conversion24hrClock12hrAMPMClock/vers11FullVersionWithIO/gnatinspect.db-wal