*~
*.log
*.class
*.xml
*auto.cgpr
*main.bexch
*.ali
*.o
*main
*b-main.adb
*b__main.adb
*b-main.ads
*b__main.ads
*gnatprove
gnatinspect.db
gnatinspect.db-shm
gnatinspect.db-wal
sparkAdaCodeLecture/misc/conversion24hrClock12hrAMPMClock/vers11FullVersionWithIO/gnatinspect.db-shm
sparkAdaCodeLecture/misc/conversion24hrClock12hrAMPMClock/vers11FullVersionWithIO/gnatinspect.db-wal

sparkAdaCodeLecture/sect3a/example3a-1/example2
sparkAdaCodeLecture/sect3a/example3a-2/example4
sparkAdaCodeLecture/sect3a/example3a-3/example5
sparkAdaCodeLecture/sect3a/example3a-4/example6
sparkAdaCodeLecture/sect3a/example3a-4b/example5
sparkAdaCodeLecture/sect3a/example3a-4c/example5
sparkAdaCodeLecture/sect3a/example3a-4e/example5
sparkAdaCodeLecture/sect3a/example3a-5/example7
sparkAdaCodeLecture/sect3a/example3a-8/example10
sparkAdaCodeLecture/sect3a/example3a-9/example11
sparkAdaCodeLecture/sect3a/example3a-10/example12
sparkAdaCodeLecture/sect3a/example3a-11/example13
sparkAdaCodeLecture/sect3a/example3a-13/exchangeValueParameterNotPossibleInAda/testparameterpassing
sparkAdaCodeLecture/sect3a/example3a-13/exchangeValueParameterNotPossibleInAda/testparameterpassing2
sparkAdaCodeLecture/sect3a/example3a-14/main15
sparkAdaCodeLecture/sect3a/example3a-15-exampleIO/test_integer_io
sparkAdaCodeLecture/sect3a/example3a-15-exampleIO/test_string_io
sparkAdaCodeLecture/sect3c/example3c-2/example
sparkAdaCodeLecture/sect3c/example3c-3/example
sparkAdaCodeLecture/sect3c/example3c-3/example2
sparkAdaCodeLecture/sect3c/example3c-4/example
sparkAdaCodeLecture/sect3c/example3c-5/test1